* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #eeeeee;
  font-family: 'Lato', sans-serif;
}
 

#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25%;
  height: auto;
  position: fixed;
  top: 5%;
  right: 5%;
  
}

.nav-link {
  font-weight: bold;
  color: black;
}

#logo {
  background-color: transparent;
  mix-blend-mode: multiply;
  
  position: fixed;
  top: 0.5%;
  left: 2.5%;
}

#header-img{
  height: 100px;
}

/* @media (max: 425px)
make nav bar go in a column beneath the img */



 main {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  
}

#form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 25%;
}

#features{
  margin: auto;
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 1/3fr 1/3fr 1/3fr;
  grid-template-areas: 
  "icon1 header1"
  "icon2 header2"
  "icon 3 header3";
}

iframe {
  margin: 0 auto;
}  

#pricing{
  margin: auto;
display: flex;
flex-direction: row;
justify-content: space-between

}

.price-div{
  text-align: center;
  display: flex;
  flex-direction: column;
  border: black;
  border-width: 5px;
  border-style: solid;
  margin: 15px;
  
  

  width: 300px;
  height: 300px;

}

.kit{
  font-size: 21px;
  position: relative;
  top: 0;
  background-color: grey;
  min-width: 100%;

}
